- @active_tab = "DocumentIndex"
- @onload = "docLoad()"

- if loggedIn?
    - content_for(:left) do
        .btn-group.btn-group-justified.bottom
            %a.btn.btn-default{:href=>new_document_path} New Doc
            - if @current_doc != nil
                = link_to 'Destroy', document_path(@current_doc), :confirm => 'Are you sure?', :method => :delete, :class=>"btn btn-default"
        .btn-group.pull-right
            %a.btn.btn-success
                Options
        %br
        %ul.nav.nav-pills.nav-stacked
            - @documents.each do |doc|
                - if @current_doc != nil and @current_doc[:id] == doc[:id]
                    %li.active
                        %a#menu_entry{:href=>document_path(doc)}
                            = doc.name
                            %span.badge.pull-right#doc_badge
                                Saved
                -else
                    %li
                        %a{:href=>document_path(doc)}
                            = doc.name

    - content_for(:right) do
        -if @current_doc != nil
            %div#document_id{:style=>"display: none;"}
                =@current_doc[:id]
            %input.form-control#document_title{:type=>"text", :value=>@current_doc[:name]}
            %br
            %textarea.form-control#main_document{:rows=>20}
                =@current_doc[:content]
            
    = render :partial => "shared/large_format"
- else
    = render :partial => "shared/need_login"
