!!! 5
- @active_tab = "item1"
%html
  %head
    %title Project Sabertooth
    = javascript_include_tag 'jquery-1.10.2'
    = stylesheet_link_tag 'bootstrap'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'bootstrap'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body.scheme-primary-bright
    .container 
      %nav.navbar.navbar-default.scheme-primary-dark{:role=>"navigation"}
        %a.navbar-brand Project Sabertooth
        .collapse.navbar-collapse.navbar-ex1-collapse.navbar-right
          %ul.nav.navbar-nav
            %li{:class=>('active' if @active_tab == 'item1')}
              %a{:href=>login_index_path} item1
            %li{:class=>('active' if @active_tab == 'item2')}
              %a{:href=>login_index_path} item2
      #main
        = yield
